[Unit]
Description=Monitor Uplink Connectivity and Update Routing
After=network-online.target

[Service]
Type=oneshot
ExecStart=/root/faure.sh/scripts/monitor-uplink.sh

[Install]
WantedBy=multi-user.target
