[Unit]
Description=Multipath Routing Setup
After=network-online.target
Wants=network-online.target
Before=tproxy-firewall.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/root/faure.sh/scripts/setup-multipath.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
