[Unit]
Description=TPROXY Firewall Rules
After=multipath-routing.service docker.service
Requires=multipath-routing.service

[Service]
Type=oneshot
ExecStart=/root/faure.sh/scripts/setup-tproxy.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
