#!#
# Copyright (c) 2026 mingcheng <mingcheng@apache.org>
#
# This source code is licensed under the MIT License,
# which is located in the LICENSE file in the source tree's root directory.
#
# File: compose.yaml
# Author: mingcheng (mingcheng@apache.org)
# File Created: 2025-03-19 14:34:01
#
# Modified By: mingcheng <mingcheng@apache.org>
# Last Modified: 2026-01-19 14:20:55
##

services:
  adguardhome:
    image: docker.1ms.run/adguard/adguardhome
    container_name: adguardhome
    environment:
      TZ: "Asia/Shanghai"
    dns:
      - 223.5.5.5
    network_mode: host
    volumes:
      - ./work:/opt/adguardhome/work
      - ./conf:/opt/adguardhome/conf
    tmpfs:
      - /tmp:size=128m,mode=1777
    restart: unless-stopped
    privileged: true
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    logging:
      driver: "json-file"
      options:
        max-size: "512m"
    healthcheck:
      test:
        [
          "CMD",
          "/opt/adguardhome/AdGuardHome",
          "--check-config",
          "-c",
          "/opt/adguardhome/conf/AdGuardHome.yaml",
        ]
      interval: 60s
      timeout: 3s
      start_period: 30s
      retries: 3
